@tailwind base;
@tailwind components;
@tailwind utilities;

.wavyHeader, .wavyFooter {
    position: relative;
    background: linear-gradient(90deg, #059669, #059669);
}

.wavyHeader:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
        radial-gradient(circle at 10px -5px, transparent 12px, #fdba74 13px);
}

.wavyHeader::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
        radial-gradient(circle at 10px 15px, #fdba74 12px, transparent 13px);
}

.wavyFooter:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-repeat: repeat;
    height: 10px;
    background-size: 20px 20px;
    background-image:
        radial-gradient(circle at 10px 15px, transparent 12px, #fdba74 13px);
}

.wavyFooter::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    background-repeat: repeat;
    height: 15px;
    background-size: 40px 20px;
    background-image:
        radial-gradient(circle at 10px 0px, #fdba74 12px, transparent 13px);
}